.weather {
  margin-top: 40px;
  padding: 20px 10px;
  font-family: arial, sans-serif;
  color: rgb(112, 117, 122);
  border: 1px solid #ebebeb;
  font-weight: 400;
  font-size: 16px;
}

.weather form {
  margin-bottom: 20px;
}

.weather li {
  list-style: none;
}
.weather ul {
  margin: 0;
  font-weight: 400;
  line-height: 16px;
}
.weather .today-weather {
  display: inline-block;
  vertical-align: top;
}
.weather img {
  display: inline-block;
  font-weight: 400;
  height: 60px;
  margin-top: 0px;
  vertical-align: top;
  width: 60px;
}
.weather .today-temperature {
  font-size: 48px;
  color: rgb(32, 33, 36);
  font-weight: bold;
  display: inline;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 400;
  line-height: 60px;
}
.weather .unit {
  color: rgb(32, 33, 36);
  font-size: 16px;
  line-height: 24px;
  vertical-align: 20px;
}
.weather .today-parameter {
  display: inline-block;
  font-size: 12px;
  height: 60px;
  margin-top: 0;
  text-align: start;
  margin-top: 6px;
  vertical-align: top;
}
.weather h1 {
  color: rgb(32, 33, 36);
  font-family: "Google Sans", arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
}
.weather .today-description {
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}
footer {
  font-size: 11px;
  text-align: start;
}
